@import "tailwindcss";

@theme inline {
  --color-eco-green: #4ADE80;
  --color-forest-green: #166534;
  --color-sky-blue: #60A5FA;
  --color-light-gray: #F9FAFB;
  --color-bg-gray: #F3F4F6;
  --color-dark-carbon: #111827;
  --color-medium-gray: #6B7280;
  --color-background: #F9FAFB;
  --color-foreground: #111827;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: #F9FAFB;
  color: #111827;
  font-family: var(--font-geist-sans);
}
